body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.profile-card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  padding: 20px 20px;
}

.profile-picture {
  height: 150px;
  width: 150px;

  align-self: flex-start;
}

.profile-picture .headshot {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.display-information p {
  margin-bottom: 1px;
}

h2,
h3 {
  margin: 5px 0;
}

a {
  display: block;
  margin: 10px 0;
  color: #333;
}

a:hover {
  text-decoration: underline;
}
